<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <div class="member-wrapper">
            <h2><%= name %></h2>
            <p>E-postadress: <%= email %></p>
            <p>Telefonnummer: <%= number %></p>
            <p>Blev medlem: <%= date %></p>
            <p>Favorit frukt: <%= favFruits %></p>
            <form action="/member/<%= _id %>" method="post">
                <button>Delete</button>
            </form>
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>